$colorOrange: #DE5900;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin-bottom: 0;
    }

    img {
        user-select: none;
    }

    .colorOrange {
        color: $colorOrange;
    }

    a {
        text-decoration: none;
        color: #000;
        outline: none !important;

        &:hover {
            text-decoration: none !important;
            color: #666;
        }
    }

    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0 !important;
    }

    .card {
        background-color: transparent;
        border: 0;
        padding: 0;

        .card-body {
            background-color: transparent;
            border: 0;
            padding: 0;
        }
    }

    h2.main-title {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 50px;
        color: $colorOrange;

        @media (max-width:992px) {
            margin-bottom: 10px;
        }

        @media (max-width:776px) {
            font-size: 28px;
        }
    }

    .navbarTop {
        background: #151e35;
        padding: 12px 0;

        .call {
            display: flex;

            a {
                color: #fff;
                display: flex;
                align-items: center;
                font-family: "Open Sans";
                font-weight: 400;

                &:nth-child(1) {
                    margin-right: 30px;
                }

                @media (max-width:776px) {
                    font-size: 14px;
                }
            }
        }

        .icon {
            color: $colorOrange;
            font-size: 22px;
            margin-right: 20px;

            @media (max-width:776px) {
                font-size: 20px;
                margin-right: 5px;
            }
        }
    }


    .navBar {
        padding: 20px 0;
        box-shadow: 0 0 10px $colorOrange;

        .active-link {
            border-bottom: 2px solid $colorOrange;

            &::after {
                display: none;
            }
        }

        .nav-menu {
            align-items: center;

            li {
                a {
                    font-weight: 500;
                    font-size: 17px;
                    transition: all 0.3s ease-in-out;
                    color: #252525;
                    text-transform: uppercase;
                    position: relative;

                    &::after {
                        content: "";
                        border-bottom: solid 2px $colorOrange;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 0.25s;
                    }

                    &:hover {
                        &::after {
                            transform-origin: left;
                            transform: scaleX(1);
                        }
                    }

                    @keyframes underline {
                        from {
                            transform: scaleX(0);
                        }

                        to {
                            transform: scaleX(1);
                        }
                    }
                }

                .siteLang {
                    background: none;
                    border: none;
                    color: $colorOrange;
                    font-size: 25px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .burger {
            position: relative;
            width: 20px;
            height: 20px;
            margin-right: 25px;
            transition: all .5s ease-in-out;
            z-index: 999999;
            display: none;
            margin-left: auto;
            padding-right: 40px;

            .burger1,
            .burger2,
            .burger3 {
                position: absolute;
                width: 25px;
                height: 2px;
                background-color: $colorOrange;
                border-radius: 20px;
                transition: all .5s ease-in-out;
            }

            .burger1 {
                top: 0;
            }

            .burger2 {
                top: 9px;
                transition: all .3s ease-in-out;
                // width: 37%;
                right: 15px;
            }

            .burger3 {
                top: 18px;
            }

            &.burgered {

                .burger1 {
                    transform: translateY(10px) rotate(45deg);
                    background-color: #fff;
                }

                .burger2 {
                    opacity: 0;
                }

                .burger3 {
                    transform: translateY(-8px) rotate(-45deg);
                    background-color: #fff;
                }
            }

            @media(max-width: 992px) {
                display: flex;
            }
        }

        .mobileWrap {

            ul {
                li {
                    transition: all .3s ease-in-out;

                    @media (max-width:992px) {
                        margin: 0 0 10px !important;
                        text-align: center;

                        a {
                            color: white;
                        }
                    }


                    a {
                        transition: all .3s ease-in-out;
                    }


                    @media (max-width:992px) {
                        font-size: 18px;
                    }
                }

                @media (max-width:992px) {
                    flex-direction: column;
                }


            }

            @media(max-width: 992px) {
                width: 100% !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100vh;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background: rgba(0, 0, 0, 0.6);
                backdrop-filter: blur(17px);
                transition: all .5s ease-in-out;

                z-index: 123;
            }

            &.burgered {

                @media(max-width: 992px) {
                    opacity: 0;
                    transform: translateX(100%);

                    &.active {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }
    }

    .z-2 {
        z-index: 2 !important;
    }

    .myBtn {

        a.btn,
        button.btn {
            font-weight: 300;
            color: $colorOrange;
            font-size: 22px;
            background: transparent;
            border: 1px solid $colorOrange;
            padding: 10px 30px;
            position: relative;
            transition: all .5s ease;
            border-radius: 0;

            &:hover {
                background: $colorOrange;
                box-shadow: 0 0 15px $colorOrange;

                color: #fff;

            }

            &:focus {
                box-shadow: none;
            }

            @media (max-width:992px) {
                font-size: 20px;
                padding: 8px 25px;
            }

            @media (max-width:772px) {
                font-size: 16px;
                padding: 5px 20px;
            }
        }
    }



    .headerSlider {
        .swiper {

            .swiper-button-prev,
            .swiper-button-next {
                border: 1px solid $colorOrange;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                width: 60px;
                height: 60px;

                &::after {
                    font-size: 30px;
                    color: $colorOrange;

                }

                @media (max-width:992px) {
                    display: none;
                }
            }

            &-wrapper {
                position: relative;

                .product-card {
                    //     background: rgba(255, 255, 255, 0.6);
                    //     backdrop-filter: blur(10px);
                    z-index: 3;
                    padding: 30px 30px 70px;

                    h2 {
                        font-size: 40px;
                        font-weight: 500;
                        line-height: 42px;
                        font-family: "Open Sans";
                        margin-bottom: 90px;
                        color: #fff;

                        span {
                            color: $colorOrange;
                        }

                        @media (max-width:992px) {
                            margin-bottom: 10px;
                            font-size: 35px;
                        }

                        @media (max-width:576px) {
                            font-size: 25px;
                            line-height: 25px;
                        }
                    }

                    p {
                        font-size: 20px;
                        color: #fff;
                        line-height: 24px;
                        margin-bottom: 70px;

                        @media (max-width:992px) {
                            margin-bottom: 10px;
                        }

                        @media (max-width:576px) {
                            font-size: 16px;
                            line-height: 18px;
                        }
                    }



                }

                .blur {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: radial-gradient(35.73% 66.01% at 65.21% 46.24%, rgba(21, 30, 53, 0) 0%, rgba(21, 30, 53, 0.68) 100%);
                    z-index: 0;

                    @media (max-width:992px) {
                        background: rgba(21, 30, 53, 0.68);

                    }
                }

                .kichkinaro {
                    // transform: scale(0.8);
                    position: absolute;
                    right: 0;
                    bottom: 0;

                    @media (max-width:992px) {
                        position: relative;
                    }
                }

                .swiper-slide {
                    display: flex;
                    align-items: center;
                    position: relative;

                    @media (max-width:992px) {
                        // background-size: 550px;
                    }
                }

                .kottaro {
                    transform: scale(1.3);

                    @media (max-width:992px) {
                        transform: scale(1);
                    }
                }

                .first-slide {
                    background: url(../img/headerslideBg2.jpg) no-repeat;
                    background-size: 100% 700px;
                }

                .second-slide {
                    background: url(../img/headerslide3.jpg) no-repeat;
                    background-size: cover;
                    background-size: 100% 700px;
                }

                .third-slide {
                    background: url(../img/asd123.jpg) no-repeat;
                    background-size: 100% 700px;
                }

                .fourth-slide {
                    background: url(../img/headerslide11.png) no-repeat;
                    background-size: 100% 700px;
                }
            }

            height: 700px;
        }

    }

    .about {
        margin: 50px 0;

        .info {
            p {
                font-size: 18px;
                color: #252525;
                margin-bottom: 60px;

                @media (max-width:992px) {
                    margin-bottom: 10px;
                }

                @media (max-width:776px) {
                    font-size: 16px;
                }
            }
        }

        h4 {
            font-size: 30px;
            color: $colorOrange;
            margin-bottom: 20px;
            // display: none;

        }

        ul {
            margin-top: 5px;

            li {
                font-size: 18px;
                margin-top: 8px;

                @media (max-width:772x) {
                    font-size: 16px;
                }
            }
        }

        p {
            font-size: 18px;
        }
    }

    .advantages {
        margin: 50px 0;

        .card {
            margin-bottom: 30px;

            .card-top {
                .icon {
                    font-size: 60px;
                    margin-bottom: 25px;
                    color: $colorOrange;

                    @media (max-width:776px) {
                        font-size: 40px;
                        margin-bottom: 5px;
                    }
                }

                @media (max-width:776px) {
                    text-align: center;
                    font-size: 40px;
                }
            }

            .card-body {
                h3 {
                    color: #384758;
                    font-size: 24px;
                    margin-bottom: 10px;

                    @media (max-width:776px) {
                        font-size: 20px;
                        margin-bottom: 5px;
                    }
                }

                h6 {
                    font-size: 17px;

                    @media (max-width:776px) {
                        font-size: 16px;
                    }
                }

                @media (max-width:776px) {
                    text-align: center;
                }
            }

            @media (max-width:776px) {
                padding: 0 30px;
            }
        }

        @media (max-width:776px) {
            margin: 20px 0;
        }
    }

    .InNumbers {
        margin: 50px 0;

        @media (max-width:776px) {
            margin: 20px 0;
        }

        .wrap {
            margin-bottom: 30px;

            @media (max-width:776px) {
                margin-bottom: 10px;
            }

            span {
                font-size: 40px;
                color: $colorOrange;

                @media (max-width:776px) {
                    font-size: 30px;
                }
            }

            h6 {
                font-size: 40px;
                font-weight: 300;
                color: $colorOrange;

                @media (max-width:776px) {
                    font-size: 30px;
                }
            }

            p {
                font-size: 20px;
                line-height: 21px;
                color: #111111;

                span {
                    color: $colorOrange;
                }

                @media (max-width:776px) {
                    text-align: center;
                }
            }
        }
    }

    .portfolio {
        padding: 80px 0;
        background: #fff;

        @media (max-width:776px) {
            padding: 20px 0;
        }

        .h2 {
            margin: 100px 0;
        }

        .myBtn {
            @media (max-width:776px) {
                margin-top: 10px !important;
            }
        }

        .image-gallary {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-rows: 250px;
            grid-auto-flow: dense;
            grid-gap: 20px;

            .image-box {
                position: relative;
                overflow: hidden;

                // &:nth-child(7n + 1), &:nth-child(7n + 2) {
                //     grid-column: span 1;
                //     // grid-row: span 2;

                //     @media(max-width: 767px) {
                //         grid-column: unset;
                //         grid-row: unset;
                //     }
                // }
                &:nth-child(7n + 3) {
                    grid-column: span 1;
                    grid-row: span 2;

                    @media(max-width: 767px) {
                        grid-column: unset;
                        grid-row: unset;
                    }
                }

                &:nth-child(7n + 4) {
                    grid-column: span 2;
                    grid-row: span 1;

                    @media(max-width: 767px) {
                        grid-column: unset;
                        grid-row: unset;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .partners {
        background: #faf9f9;
        padding: 20px 0;

        @media (max-width:776px) {
            margin: 20px 0 0 !important;
        }

        .swiper-wrapper{
            display: flex;
            align-items: center;
        
        }
    }

    .myToast {
        display: flex;
        height: 100vh;

        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        transition: all .3s ease;
        z-index: 111111;

        .card {
            background: #ffffff3b;
            backdrop-filter: blur(50px);
            border-radius: 20px;
            padding: 80px 50px;
            text-align: center;
            border: 1px solid $colorOrange;
        }
    }


    .Footer {
        background: #dedede;
        padding: 50px 0;

        .info {
            display: flex;
            flex-wrap: wrap;

            .wrap {
                margin-bottom: 30px;
                width: 50%;

                @media (max-width:776px) {
                    width: 100%;
                }

                .icon {
                    font-size: 30px;
                    margin-right: 20px;
                    color: $colorOrange;

                    @media (max-width:776px) {
                        font-size: 20px;
                    }
                }

                .text {
                    span {
                        font-size: 18px;
                    }

                    a {
                        font-size: 22px;

                        @media (max-width:776px) {
                            font-size: 16px;
                        }

                    }
                }

                .social-media {
                    margin-left: 50px;

                    .insta,
                    .tg,
                    .fb {
                        font-size: 40px;
                        margin-right: 40px;

                        @media (max-width:776px) {
                            font-size: 28px;
                        }

                        a {
                            color: $colorOrange;

                        }

                        &:hover {
                            a {
                                animation: animate ease 1s;
                            }

                            @keyframes animate {
                                0% {
                                    transform: rotate(0deg);
                                }

                                100% {
                                    transform: rotate(360deg);

                                }
                            }
                        }
                    }
                }
            }


        }

        .map {
            height: 300px;
            border: 1px solid $colorOrange;
        }

        @media (max-width:776px) {
            padding: 20px 0;
        }
    }

    .catalog {
        margin: 100px 0;

        .card {
            border-radius: 0;
            background: #D9D9D9;
            margin-bottom: 30px;
            padding: 50px 0;
            overflow: hidden;
            position: relative;

            &:hover {
                .img {
                    opacity: 1;
                    transform: scale(1.3);
                }

                h5 {
                    opacity: 0;
                    transform: translateY(50px);
                }
            }

            .img {
                overflow: hidden;
                padding: 0;
                transition: all .5s ease-in-out;

                img {
                    transition: all .5s ease-in-out;
                }
            }

            .text {
                bottom: 15px;
                left: 0;
                padding: 0 10px;
                position: absolute;
                text-align: center;
                width: 100%;
                z-index: 11;

                h5 {
                    color: $colorOrange;
                    text-align: center;
                    // transform: translateY(-10px);
                    transition: all .5s ease-in-out;
                }
            }
        }

        @media (max-width:776px) {
            margin: 20px 0;
        }
    }

    .request {
        margin: 100px 0;

        .request-blog {
            .form-control {
                margin-bottom: 40px;
                padding: 15px 20px;
                border-radius: 0;
                border: none;
                border: $colorOrange solid 1px !important;

                // border-left: $colorOrange solid 1px !important;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            .form-control:focus~.contact-label,
            .textarea:focus~.contact-label,
            .form-control:not(:placeholder-shown).form-control:not(:focus)~.contact-label,
            .textarea:not(:placeholder-shown).textarea:not(:focus)~.contact-label {
                box-shadow: inherit;
                top: -10px;
                background: #fff;
                left: 10px;
                font-size: 16px;
                color: $colorOrange;
            }

            .contact-label {
                color: #606362;
                font-size: 18px;
                border: none;
                position: absolute;
                cursor: text;
                transition: all .4s ease-in-out;
                top: 17px;
                left: 15px;
            }

            .textarea {
                margin-bottom: 30px;
                padding: 0px 20px;
                padding-top: 0px;
                width: 100%;
                position: relative;
                border: none;
                cursor: text;
                padding-top: 30px;

                &:focus-visible {
                    outline: none;
                }
            }
        }
    }
}